* {
    box-sizing: border-box;
    letter-spacing: 1px;
}
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}
h2{
    margin: 0px;
    margin-bottom: 20px;
}
.info-paragraph{
    margin-left: 50px;
    font-size: 1.5rem;
    width: 70%;
}
.form-container{
    display: flex;
    font-family: 'Questrial', sans-serif;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
}

.main-image{
    background-image: url(./leonardo-zorzi-vVtkT4ny8hM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50vw;
    max-width: 720px;
}
.form-content{
    color: #DDD;
    width: 70%;
    background-color: #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    background-color: #333;
    padding: 20px 0px 0px 50px;
    margin-bottom: 10px;
    height: 350px;
}

.contact-container, .user-password-container, .name-container{
    display: flex;
    margin-bottom: 15px;
}
.contact-container > div, .user-password-container > div, .name-container > div{
    width: 275px;
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 3px;
    font-size: 1.2rem;
}
input{
    width: 200px;
    font-size: 1rem;
    outline: none;
    height: 25px;
    background-color: #DDD;
    border: none;
    border-radius: 3px;
}
input:valid:focus{
    border: thin solid blue;
}
.submit-button-container{
    margin-left: 50px;
}

button{
    padding: 8px 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(13, 131, 22);
    color: #DDD;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}

.log-in-button{
    cursor: pointer;
    color: rgb(18, 177, 31);
    font-weight: bold;
}

/*validation css */

input:invalid:focus{
    appearance: none;
    outline: none;
    border: thin solid red;
}

input:invalid:focus + span::after{
    content:'Password must be a minimum eight characters and contain at least one letter, one number and one special character';
    color: rgb(233, 33, 33);
    position: relative;
    top: 10px;
    letter-spacing: 1px;
    font-size: 0.7rem;
    margin: 0px;
}
.error-message{
    color: red;
}